{% extends 'base.html.twig' %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
{% endblock %}
<div id="login">
          <div class="panel-heading">Incarca articol</div>
          <div class="panel-body">

<h1>Adding a new product</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.brochure) }}
    {{ form_row(form.titlu, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.domeniu, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.keywords, {'attr': {'class': 'form-control'}}) }}
    
    <div class="col-md-6 col-md-offset-4">
            <input type="submit" value="Incarca">
        </div>
    
{{ form_end(form) }}

            

{% endblock %}